<div class="height-100vh width-100vw bg-black flex flex-center">
    <div class="bg-dark height-80% flex radius-lg">
      <div class="height-100% flex flex-column padding-xxl gap-md flex-center">
        <h3>Login</h3>
        <input type="text" placeholder="Usuario" />
        <input type="password" placeholder="Contraseña" />
        <button (click)="login({user:'lochiperez', password:'Lochi123'})">Login</button>
      </div>
      <img class="" src="assets/img/reparacionCelular.jpg" alt="" />
    </div>
  </div>
  